.card {
  background: hsl(0, 0%, 100%);
  width: 250px;
  height: 300px auto;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 hsl(220, 15%, 55%);
  padding: 0.75rem;

  .card-img {
    img {
      border-radius: 15px;
      width: 100%;
      height: auto;
    }
  }

  .card-body {
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
